.DS_Store
.DS_Store?
Thumbs.db
Desktop.ini
ehthumbs.db
$RECYCLE.BIN/
.Spotlight-V100/
.Trashes/

# このリポジトリのプロジェクト設定は保存しない (二重管理を避けるため)
.vscode/*

# このリポジトリで作業するとき用の textlint 関係
# ※一般のリポジトリではむしろ ignore してはならないが，
# ここでは ProjectSettings の中に設定を置くので例外的に ignore する
/package.json
/package-lock.json
/.textlintrc.json

# textlintのモジュール
node_modules/

# Unique to this project
## sync command 用のバックアップフォルダ
UserSettings/Backup/
